* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222422;
  overflow-x: hidden;
}

body h1, body button {
  text-transform: uppercase;
}

body button {
  padding: 3px 5px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  border: none;
}

body .mainSection {
  width: 100vw;
  min-height: 80vh;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 10;
  -webkit-animation: fadeOut 1s forwards 4.5s, disappear .1s forwards 5.5s;
          animation: fadeOut 1s forwards 4.5s, disappear .1s forwards 5.5s;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes disappear {
  100% {
    display: none;
    visibility: hidden;
  }
}

@keyframes disappear {
  100% {
    display: none;
    visibility: hidden;
  }
}

.preloader h1, .preloader .leaf {
  font-size: 70px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .preloader h1, .preloader .leaf {
    font-size: 45px;
  }
}

@media (max-width: 330px) {
  .preloader h1, .preloader .leaf {
    font-size: 35px;
  }
}

.preloader h1 {
  opacity: 0;
  -webkit-animation: fadeIn 1s forwards 3s;
          animation: fadeIn 1s forwards 3s;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.preloader .leaf {
  margin-right: 15px;
  color: #65eb7b;
  -webkit-transform: translate(0, -55vh);
          transform: translate(0, -55vh);
  opacity: 1;
  -webkit-animation: fallDown 3s ease-in-out 1s forwards;
          animation: fallDown 3s ease-in-out 1s forwards;
}

@-webkit-keyframes fallDown {
  25% {
    -webkit-transform: translate(-30px, -45vh) rotate(-20deg);
            transform: translate(-30px, -45vh) rotate(-20deg);
  }
  50% {
    -webkit-transform: translate(30px, -25vh) rotate(20deg);
            transform: translate(30px, -25vh) rotate(20deg);
  }
  75% {
    -webkit-transform: translate(-30px, -15vh) rotate(-20deg);
            transform: translate(-30px, -15vh) rotate(-20deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fallDown {
  25% {
    -webkit-transform: translate(-30px, -45vh) rotate(-20deg);
            transform: translate(-30px, -45vh) rotate(-20deg);
  }
  50% {
    -webkit-transform: translate(30px, -25vh) rotate(20deg);
            transform: translate(30px, -25vh) rotate(20deg);
  }
  75% {
    -webkit-transform: translate(-30px, -15vh) rotate(-20deg);
            transform: translate(-30px, -15vh) rotate(-20deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.header {
  width: 100vw;
  height: 80vh;
  margin-top: 10vh;
}

@media (max-width: 900px) {
  .header {
    height: 90vh;
    margin: 0;
  }
}

.header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  z-index: 2;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (max-width: 900px) {
  .header .nav {
    width: 200px;
    left: auto;
    right: -200px;
    height: 100vh;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 10px;
    border-left: 2px solid #65eb7b;
  }
}

.header .nav .hamburger {
  position: fixed;
  top: 12px;
  right: 12px;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
  background-color: transparent;
  color: #65eb7b;
  text-align: center;
  font-size: 25px;
}

.header .nav .hamburger .bars, .header .nav .hamburger .close {
  -webkit-transition: .2s;
  transition: .2s;
}

.header .nav .hamburger .close {
  display: none;
  opacity: 0;
}

@media (max-width: 900px) {
  .header .nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .nav .companyName {
  width: 35%;
  font-size: 35px;
  letter-spacing: 1px;
}

.header .nav .companyName .fa-leaf {
  color: #65eb7b;
}

@media (max-width: 900px) {
  .header .nav .companyName {
    font-size: 20px;
  }
}

.header .nav .navBtn {
  margin: 0 10px;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 20px;
}

@media (max-width: 900px) {
  .header .nav .navBtn {
    font-size: 15px;
    border-bottom: 2px solid #65eb7b;
    padding: 8px 0;
  }
}

@media (max-width: 900px) and (max-height: 375px) {
  .header .nav .navBtn {
    padding: 2px 0;
  }
}

.header .nav .navBtn:hover {
  border-bottom: 2px solid #222422;
}

@media (max-width: 900px) {
  .header .nav .companyName, .header .nav .navBtn {
    width: 100%;
    margin: 10px;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .header .nav.active {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

.header .nav.active .hamburger {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.header .nav.active .hamburger .bars {
  display: none;
  opacity: 0;
}

.header .nav.active .hamburger .close {
  display: block;
  opacity: 1;
}

.header .head {
  position: relative;
  height: 80vh;
  background-image: url("../../images/laptop-1478822_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .header .head {
    height: 90vh;
  }
}

.header .head h1, .header .head h3 {
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.header .head h1, .header .head h3, .header .head .headerBtn {
  z-index: 1;
}

.header .head h1 {
  font-size: 60px;
}

@media (max-width: 900px) {
  .header .head h1 {
    font-size: 40px;
  }
}

.header .head h3 {
  font-size: 25px;
}

@media (max-width: 900px) {
  .header .head h3 {
    font-size: 18px;
  }
}

.header .head .headerBtn {
  background-color: #65eb7b;
  color: #fff;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.header .head .headerBtn:hover {
  background-color: #4ecc62;
}

@media (max-width: 900px) {
  .header .head .headerBtn {
    font-size: 18px;
  }
}

.header .head::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about h2, .about h3, .about p {
  width: 100%;
  text-align: center;
}

.about h2 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 48px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .about h2 {
    font-size: 30px;
  }
}

.about > h3 {
  color: gray;
  font-size: 25px;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .about > h3 {
    font-size: 18px;
  }
}

.about .profits {
  width: 400px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 900px) {
  .about .profits {
    width: 25%;
  }
}

@media (max-width: 450px) {
  .about .profits {
    width: 100%;
  }
}

.about .profits .img {
  font-size: 60px;
}

@media (max-width: 900px) {
  .about .profits .img {
    font-size: 50px;
  }
}

.about .profits .img, .about .profits h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about .profits p {
  color: gray;
}

.about .profits:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.about .profits:nth-of-type(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.about.active .profits {
  -webkit-transform: none;
          transform: none;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.blog .image {
  position: relative;
  width: 30%;
  min-height: 80vh;
  background-color: lightgray;
  color: #fff;
  font-size: 500px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .blog .image {
    display: none;
  }
}

.blog .image .gear {
  position: absolute;
  top: 50%;
  right: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog .benefits {
  position: relative;
  width: 70%;
  min-height: 80vh;
  padding: 15px 0;
  padding-left: 100px;
  background-image: url("../../images/sea.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
}

@media (max-width: 900px) {
  .blog .benefits {
    width: 100%;
    padding-left: 25px;
  }
}

.blog .benefits::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.blog .benefits h3, .blog .benefits ul, .blog .benefits p {
  width: 100%;
  z-index: 1;
}

.blog .benefits p, .blog .benefits ul {
  color: #d1d0cd;
}

.blog .benefits h3 {
  font-size: 50px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .blog .benefits h3 {
    font-size: 35px;
  }
}

.blog .benefits h3 span {
  color: #65eb7b;
}

.blog .benefits p {
  padding-right: 600px;
  font-size: 25px;
}

@media (max-width: 900px) {
  .blog .benefits p {
    padding: 0;
    font-size: 20px;
  }
}

.blog .benefits ul {
  list-style: none;
}

.blog .benefits ul li {
  margin: 15px 0;
  font-size: 20px;
}

@media (max-width: 900px) {
  .blog .benefits ul li {
    font-size: 18px;
  }
}

.blog .benefits p, .blog .benefits ul, .blog .benefits button {
  margin-top: 45px;
}

.blog .benefits button {
  background-color: #65eb7b;
  color: #fff;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  z-index: 1;
}

.blog .benefits button:hover {
  background-color: #4ecc62;
}

@media (max-width: 900px) {
  .blog .benefits button {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 50px;
}

@media (max-width: 900px) {
  .portfolio {
    padding: 15px;
  }
}

.portfolio h2, .portfolio h3, .portfolio p {
  width: 100%;
  text-align: center;
}

.portfolio h2, .portfolio h3 {
  text-transform: uppercase;
}

.portfolio h2 {
  font-size: 50px;
}

@media (max-width: 900px) {
  .portfolio h2 {
    font-size: 35px;
  }
}

.portfolio h3 {
  font-size: 25px;
}

@media (max-width: 900px) {
  .portfolio h3 {
    font-size: 18px;
  }
}

.portfolio p {
  font-size: 18px;
  color: gray;
}

@media (max-width: 900px) {
  .portfolio p {
    font-size: 14px;
  }
}

.portfolio > p {
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .portfolio > p {
    margin-bottom: 25px;
  }
}

.portfolio .descriptions {
  width: 60%;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 900px) {
  .portfolio .descriptions {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .portfolio .descriptions {
    width: 100%;
  }
}

.portfolio .descriptions > h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .portfolio .descriptions > h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.portfolio .descriptions > p {
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .portfolio .descriptions > p {
    margin-bottom: 20px;
    padding: 0 10px;
  }
}

.portfolio .descriptions .description {
  width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .portfolio .descriptions .description {
    margin: 10px 0;
  }
}

.portfolio .descriptions .description .descriptionIcon {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 40px;
}

@media (max-width: 900px) {
  .portfolio .descriptions .description .descriptionIcon {
    font-size: 30px;
  }
}

.portfolio .descriptions .description .descriptionText {
  width: 70%;
}

.portfolio .phoneImg {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 450px) {
  .portfolio .phoneImg {
    display: none;
  }
}

.portfolio .phoneImg img {
  width: 80%;
}

@media (max-width: 900px) {
  .portfolio .phoneImg img {
    width: 90%;
  }
}

.portfolio .details {
  background-color: #65eb7b;
  color: #fff;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  overflow: hidden;
}

.portfolio .details:hover {
  background-color: #4ecc62;
}

@media (max-width: 900px) {
  .portfolio .details {
    font-size: 18px;
    margin-top: 20px;
  }
}

.portfolio .details .arrow {
  -webkit-animation: moveRight 2s infinite;
          animation: moveRight 2s infinite;
}

@-webkit-keyframes moveRight {
  40% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  41% {
    opacity: 0;
    -webkit-transform: none;
            transform: none;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveRight {
  40% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  41% {
    opacity: 0;
    -webkit-transform: none;
            transform: none;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #dcdedc;
  padding: 20px;
}

.values h2, .values h3, .values p, .values .valueIcon {
  width: 100%;
  text-align: center;
}

.values h2, .values h3 {
  text-transform: uppercase;
}

.values h2 {
  font-size: 45px;
}

@media (max-width: 900px) {
  .values h2 {
    font-size: 35px;
  }
}

.values h3 {
  font-size: 30px;
}

@media (max-width: 900px) {
  .values h3 {
    font-size: 22px;
  }
}

.values p {
  margin-top: 10px;
  color: gray;
  font-size: 20px;
}

@media (max-width: 900px) {
  .values p {
    font-size: 17px;
  }
}

.values .value {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .values .value {
    width: 33%;
  }
}

@media (max-width: 450px) {
  .values .value {
    width: 100%;
  }
}

.values .value .valueIcon {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 35px 0 20px 0;
  border: 4px solid #222422;
  border-radius: 50%;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .values .value .valueIcon {
    font-size: 25px;
    height: 65px;
    width: 65px;
  }
}

.values .value .valueIconMiddle::after,
.values .value .valueIconMiddle::before {
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  height: 4px;
  width: 200px;
  background-color: #222422;
}

@media (max-width: 900px) {
  .values .value .valueIconMiddle::after,
  .values .value .valueIconMiddle::before {
    display: none;
  }
}

.values .value .valueIconMiddle::after {
  right: -240px;
}

.values .value .valueIconMiddle::before {
  left: -240px;
}

.values .value p {
  padding: 0 40px;
  margin-top: 15px;
}

@media (max-width: 900px) {
  .values .value p {
    padding: 0 5px;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 300px;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .clients {
    padding: 15px;
  }
}

@media (max-width: 900px) {
  .clients {
    padding: 15px 5px;
  }
}

.clients h2, .clients p, .clients .quote {
  width: 100%;
  text-align: center;
}

.clients h2 {
  font-size: 45px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .clients h2 {
    font-size: 35px;
  }
}

.clients p {
  color: gray;
  font-size: 20px;
}

@media (max-width: 900px) {
  .clients p {
    font-size: 18px;
  }
}

.clients .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.clients .quote .clientImage {
  position: relative;
  height: 180px;
  width: 180px;
  border: 4px solid #222422;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media (max-width: 900px) {
  .clients .quote .clientImage {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 375px) {
  .clients .quote .clientImage {
    width: 100px;
    height: 100px;
  }
}

.clients .quote .clientImage::after, .clients .quote .clientImage::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #dcdedc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.clients .quote .clientImage::before {
  content: "Veniam repudiandae quod deleniti natus ut, voluptas quae nisi et porro minus cumque, culpa aliquam. Quaerat nam ex, repudiandae libero aut suscipit. Veniam repudiandae quod deleniti natus ut, voluptas quae nisi et porro minus cumque, culpa aliquam. Quaerat nam ex, repudiandae libero aut suscipit.";
  border-radius: 8px;
  padding: 5px;
  width: 500px;
  height: 80%;
  z-index: 1;
}

@media (max-width: 900px) {
  .clients .quote .clientImage::before {
    width: 300px;
    content: "Veniam repudiandae quod deleniti natus ut, voluptas quae nisi et porro minus cumque, culpa aliquam. Quaerat nam ex, repudiandae libero aut suscipit.";
  }
}

@media (max-width: 450px) {
  .clients .quote .clientImage::before {
    width: 200px;
    content: "Veniam repudiandae quod deleniti natus ut, voluptas quae nisi et porro minus cumque, culpa aliquam.";
  }
}

.clients .quote .clientImage::after {
  content: "";
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.clients .quote1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.clients .quote1 .clientImage {
  background-image: url("../../images/face1.jpg");
}

.clients .quote1 .clientImage::before {
  right: -570px;
}

@media (max-width: 900px) {
  .clients .quote1 .clientImage::before {
    right: -370px;
  }
}

@media (max-width: 450px) {
  .clients .quote1 .clientImage::before {
    right: -225px;
  }
}

.clients .quote1 .clientImage::after {
  right: -80px;
}

@media (max-width: 450px) {
  .clients .quote1 .clientImage::after {
    right: -40px;
  }
}

.clients .quote2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.clients .quote2 .clientImage {
  background-image: url("../../images/face2.jpg");
}

.clients .quote2 .clientImage::before {
  left: -570px;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

@media (max-width: 900px) {
  .clients .quote2 .clientImage::before {
    left: -370px;
  }
}

@media (max-width: 450px) {
  .clients .quote2 .clientImage::before {
    left: -225px;
  }
}

.clients .quote2 .clientImage::after {
  left: -80px;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

@media (max-width: 450px) {
  .clients .quote2 .clientImage::after {
    left: -40px;
  }
}

.clients.active .quote .clientImage::after, .clients.active .quote .clientImage::before {
  opacity: 1;
}

.contact {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #65eb7b;
  color: #fff;
}

.contact h2, .contact button {
  margin: 15px 0;
}

.contact h2 {
  width: 100%;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 900px) {
  .contact h2 {
    font-size: 35px;
  }
}

.contact button {
  background-color: #65eb7b;
  color: #fff;
  font-size: 25px;
  border: 4px solid #fff;
  border-radius: 8px;
  padding: 10px 20px;
  z-index: 1;
}

.contact button:hover {
  background-color: #4ecc62;
}

@media (max-width: 900px) {
  .contact button {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}

.posts {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #222422;
  color: #fff;
}

.posts .address, .posts .post, .posts .twitter {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .posts .address, .posts .post, .posts .twitter {
    width: 100%;
  }
}

.posts .address h3, .posts .address p, .posts .post h3, .posts .post p, .posts .twitter h3, .posts .twitter p {
  width: 100%;
  margin: 10px 0;
}

.posts .address h3, .posts .post h3, .posts .twitter h3 {
  position: relative;
  padding-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
}

.posts .address p i, .posts .post p i, .posts .twitter p i {
  margin-right: 20px;
}

.posts .address h3::after, .posts .post h3::after, .posts .twitter h3::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #fff;
}

.footer {
  width: 100vw;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .author {
  width: 50%;
  text-align: center;
  font-size: 18px;
  text-transform: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 900px) {
  .footer .author {
    width: 100%;
  }
}

.footer .author a {
  margin-left: 10px;
  text-decoration: underline;
  color: #222422;
  -webkit-animation: shake 3s infinite;
          animation: shake 3s infinite;
}

@-webkit-keyframes shake {
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  4% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  6% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  8% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  10% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes shake {
  2% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  4% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  6% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  8% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  10% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.footer .socials {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 40px;
}

@media (max-width: 900px) {
  .footer .socials {
    font-size: 30px;
    width: 100%;
  }
}

.footer .socials a {
  margin: 0 20px;
  text-decoration: none;
  color: #222422;
}

@media (max-width: 900px) {
  .footer .socials a {
    margin-top: 20px;
  }
}
